@model HouseHero.Models.ViewModels.ProviderWithAllDataViewModel

@{
    ViewData["Title"] = "Editing";
}

<h1>Editing</h1>

<h4>ProviderWithAllDataViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editing">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProviderName" class="control-label"></label>
                <input asp-for="ProviderName" class="form-control" />
                <span asp-validation-for="ProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bio" class="control-label"></label>
                <input asp-for="Bio" class="form-control" />
                <span asp-validation-for="Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicture_ID" class="control-label"></label>
                <input asp-for="ProfilePicture_ID" class="form-control" />
                <span asp-validation-for="ProfilePicture_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinPrice" class="control-label"></label>
                <input asp-for="MinPrice" class="form-control" />
                <span asp-validation-for="MinPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice" class="control-label"></label>
                <input asp-for="MaxPrice" class="form-control" />
                <span asp-validation-for="MaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServiceName" class="control-label"></label>
                <input asp-for="ServiceName" class="form-control" />
                <span asp-validation-for="ServiceName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Save" /> @Html.DisplayNameFor(model => model.Save)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
