@model ProviderIdentityViewModel

@{

    Layout = null;
    ViewData["Title"] = "انشئ حساب وابدأ بالعمل";
}

<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/register-provider-identity.css" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="frame">
        <form asp-action="RegisterProviderIdentity" class="login-form">
            <h1 class="text-wrapper">انشئ حساب وابدأ بالعمل</h1>
            <div class="form-group">
                <div class="input-group">
                    <input asp-for="Name" type="text" class="input-field" placeholder="الاسم" required />
                    <img class="img" src="~/assets/material-symbols_person-outline.svg" alt="Name Icon" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input asp-for="Email" type="email" class="input-field" placeholder="البريد الالكتروني" required />
                    <img class="img" src="~/assets/ic_outline-email.svg" alt="Email Icon" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input asp-for="Password" type="password" class="input-field" placeholder="كلمة السر" required />
                    <img class="img" src="~/assets/material-symbols_lock-outline.svg" alt="Password Icon" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input asp-for="ConfirmPassword" type="password" class="input-field" placeholder="تأكيد كلمة السر" required />
                    <img class="img" src="~/assets/material-symbols_lock-outline.svg" alt="Confirm Password Icon" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="submit-button">انشئ حساب وابدأ بالعمل</button>
        </form>
    </div>
    <div class="top-right-widget">
        <div class="view">
            <div class="text-wrapper">خدماتك</div>
        </div>
        <img class="img" src="~/assets/frame-7.svg" />
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}