@model HouseHero.Models.ViewModels.RegisterTypeViewModel
@{

    ViewData["Title"] = "اختيار نوع التسجيل";

    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/register-types.css" />
</head>
<body>
    <div class="register">
        <div class="frame">
            <div class="view"><div class="text-wrapper">خدماتك</div></div>
            <img class="img" src="~/assets/frame-7.svg" alt="Logo" />
        </div>
        <div class="div">
            <form asp-action="RegisterType">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="frame-wrapper">
                    <div class="frame-2">
                        <button type="submit" name="IsProvider" value="true" class="frame-3">
                            <img class="fluent-person-search" src="~/assets/fluent_person-search-32-regular.svg" alt="Service Provider Icon" />
                            <p class="p">انا حرفي ابحث عن عمل</p>
                        </button>
                        <img class="line" src="~/assets/Line 7.svg" alt="Separator" />
                        <button type="submit" name="IsProvider" value="false" class="frame-4">
                            <img class="fluent-person" src="~/assets/fluent_person-accounts-20-regular.svg" alt="Customer Icon" />
                            <p class="text-wrapper-2">انا عميل ابحث عن مقدم للخدمة</p>
                        </button>
                    </div>
                </div>
            </form>
            <div class="div-wrapper">
                <p class="div-2">
                    <span class="span">لديك حساب بالفعل ؟</span>
                    <span class="text-wrapper-3">قم</span>
                    <a asp-action="Login" class="text-wrapper-4">بتسجيل الدخول</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}